@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Hangfire Jobs Example</h1>
    <ol>
        <li><a href="/home/FireAndForget">Fire And Forget Job</a></li>
        <li><a href="/home/Delayed">Delayed Job</a></li>
        <li><a href="/home/Continuations">Continuations Job</a></li>
        <li><a href="/home/Recurring">Recurring Job</a></li>
    </ol>
</div>
